SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwZmRubWJvaWhnZHRmY2Z4cXZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MDc5NjYsImV4cCI6MjA5NTA4Mzk2Nn0.PsamByuQtkEi5XeYJoCrXxi7xUPSq__BCeYU6xE6BVU"
SUPABASE_URL="https://bpfdnmboihgdtfcfxqvx.supabase.co"
VITE_SUPABASE_PROJECT_ID="bpfdnmboihgdtfcfxqvx"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwZmRubWJvaWhnZHRmY2Z4cXZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MDc5NjYsImV4cCI6MjA5NTA4Mzk2Nn0.PsamByuQtkEi5XeYJoCrXxi7xUPSq__BCeYU6xE6BVU"
VITE_SUPABASE_URL="https://bpfdnmboihgdtfcfxqvx.supabase.co"
