SUPABASE_PUBLISHABLE_KEY=
SUPABASE_URL="https://bpfdnmboihgdtfcfxqvx.supabase.co"
VITE_SUPABASE_PROJECT_ID="bpfdnmboihgdtfcfxqvx"
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL="https://bpfdnmboihgdtfcfxqvx.supabase.co"